body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff;
    padding:3% 15%;
    padding-bottom: 8%;
}

.navbar {
    padding-right: 1.9rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    margin-left: -15px;
    
}

.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight:100;
}

.title {
    padding-top: 5%;
}

i {
    width: 30px;
    font-size: 30px;
}

.fab fa-apple {
    font-size: 30px;
}

h1 {
    font-family:"Montserrat";
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
}


h3 {
    font-family: 'Montserrat';
}


p {
    color: #8f8f8f;
}


.download-button {
    margin: 5% 3% 5% 0;
}


.title-image {
    margin-left:5%;
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}


#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}

.icon {
    margin-right: 2rem;
    text-align: center;
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 3.5rem;
}


.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}


#pricing {
    padding: 7% 15%;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
    
}

#cta {
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15%;
    padding-bottom: 5%;
    color: #fff;
    
}

.fbtn {
    margin-top: 50px;
}

#footer {
    text-align: center;
    padding: 7% 15%;
}

@media (max-width: 1024px ) {
    #title {
        text-align: center;
    }



    .title-image {
        position: static;
        transform: rotate(0);
        margin-left: 0px;
    }
}